<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">

	<!-- 학생 전체 조회 -->
	<select id="getAllStudents" resultType="java.util.HashMap">
		SELECT std_no, name, id FROM students
	</select>

	<!-- 학생 등록 -->
	<insert id="insertStudent">
		INSERT INTO students (name, id, password)
		VALUES (#{name}, #{id}, #{password})
	</insert>

	<!-- 학생 삭제 -->
	<delete id="deleteStudent">
		DELETE FROM students WHERE std_no = #{std_no}
	</delete>

	<!-- 로그인 -->
	<select id="login" resultType="java.util.HashMap">
		SELECT std_no, name, id, role
		FROM students
		WHERE id = #{id} AND password = #{password}
	</select>

</mapper>